<link rel="stylesheet" type="text/css" href="albums.scss">

<h1>Albums</h1>

  <div class="container-fluid">
    <div class="row">
      <div class="col-2">Name</div>
      <div class="col-1">Fav</div>
      <div class="col-2">Year</div>
      <div class="col-2">Artist</div>
    </div>
    <% @albums.each do |album| %>
      <div class="row">
        <div class="col-2"><h3 class="info_album"><%= album.name %></h3></div>
        <div class="col-1"><span id="LikedIcon" class="col-1 show"><h3 class="fa fa-heart fa-sm"></h3></span></div>
        <div class="col-2"><h3 class="info_album"><%= album.year %></h3></div>
        <div class="col-2"><h3 class="info_album"><%= album.artist %></h3></div>
          <div class="col-3">
            <button class="btn btn-light btn-sm"><%= link_to 'Details', album_path(album) %></button>
            <button class="btn btn-light btn-sm"><%= link_to 'Edit', edit_album_path(album) %></button>
            <button class="btn btn-light btn-sm"><%= link_to 'Delete', album_path(album), method: :delete, data: { confirm: 'Are you sure?' } %></button>
            <button onclick="greenMarker()" class="btn btn-success btn-sm"><h1 class="fa fa-check fa-sm"></h1></button>
            <button onclick="redMarker()" class="btn btn-danger btn-sm"><h1 class="fa fa-times fa-sm"></h1></button>
            <button onclick="darkMarker()" class="btn btn-dark btn-sm"><h1 class="fa fa-flag fa-sm"></h1></button>
            <button onclick="Liked()" class="btn btn-info btn-sm"><h1 class="fa fa-heart fa-sm"></h1></button>
          </div>
    </div>
    <% end %>
  </div>

<br>

<%= link_to 'New Album', new_album_path %>
<%= link_to 'Homepage', root_path %>