<h1><%= @album.name %></h1>

<table>
  <thead>
  <tr>
    <th>Song</th>
    <th>Explicit</th>
    <th>Genre</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @album.songs.each do |song| %>
    <tr>
      <td><%= song.name %></td>
      <td><%= song.explicit %></td>
      <td><%= song.genre.name %></td>
      <td><%= link_to 'Go Back', song_path(song) %></td>
      <td><%= link_to 'Edit', edit_song_path(song) %></td>
      <td><%= link_to 'Delete', song_path(song), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song', new_song_path(album_id: @album.id)%>
<%= link_to 'Homepage', root_path %>